*{margin: 0;padding: 0}
.change{
    width: 700px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px dotted #dcdcdc;
    text-align: center;
    margin-top: 30px;
}
.change>p{
    width: 100px;
    line-height: 22px;
    border-left: 4px solid #1Ac0c0;
    padding: 5px 0;
    margin-left: 30px;
}
.phone{
    width: 450px;
    height: 70px;
    border: 1px solid #dcdcdc;
    border-left: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
    margin-top: 20px;
    margin-left: -320px;
    left: 50%;
    background: white;
    position: relative;
}
.phone>img{
    position: absolute;
    top:18%;
    left: 10px;
}
.code{
    position: absolute;
    top: 16%;
    left: 70px;
}
.notyet{
    position: absolute;
    top: 52%;
    left: 70px;
}
.phone>button{
    width: 85px;
    height: 36px;
    background: #fea700;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 50px;

}
.weixin{
    width: 450px;
    height: 70px;
    border: 1px solid #dcdcdc;
    border-left: 2px solid #dcdcdc;
    border-right: 2px solid #dcdcdc;
    margin-top: 22px;
    margin-left: -320px;
    left: 50%;
    background: white;
    position: relative;
}
.weixin>img{
    position: absolute;
    top:30%;
    left: 18px;
}
.bend{
    position: absolute;
    top: 18%;
    left: 70px;
}
.wxnotyet{
    position: absolute;
    top: 52%;
    left: 70px;
}
.weixin>button{
    width: 85px;
    height: 36px;
    background: #fea700;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 50px;

}